body {
    background-color: navajowhite;
    margin: 5vh 0px 5vh 0px;
    width: 100vw;
  }
  
  .container {
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 90vh;
    flex-wrap: wrap;
    flex-direction: column;  
  }
  
  .box {
    background-color: navajowhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 33vh;
    width: 90vw;
    flex-wrap: wrap;
  }

  .item-box-top-left {
    background-color: brown;
    height: 30vh;
    width: 48vw;
  }
  .container-item-box-top-right {
    background-color: navajowhite;
    height: 30vh;
    width: 34vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
  }

  .item-box-top-right {
    background-color: brown;
    height: 9vh;
    width: 34vw;
  }

  .item-box-down-up {
    background-color: brown;
    height: 15vh;
    width: 84vw;
  }

  .container-item-box-down-down {
    background-color: navajowhite;
    height: 15vh;
    width: 84vw;
    display: flex;
    justify-content: space-between;
  }
  .item-box-down {
    background-color: brown;
    height: 14vh;
    width: 12vw;
  }




  