body {
    background-color: navajowhite;
    margin: 5vh 0px 5vh 0px;
    width: 100vw;
  }
  
  .container {
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 90vh;
    flex-wrap: wrap;
    flex-direction: column;  
  }
  
  .box {
    background-color: navajowhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35vh;
    width: 95vw;
  
  }

  